ul.topnav {
    list-style-type: none;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    background-color: gray;
    float: none;
    text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}
.logo {
 width: 75px;
 margin-bottom: 0;
 padding-bottom: 0;
}

.name {
   color: #A9A9A9;
   font-family: 'Josefin Slab', serif;
   margin: 0 0;
   padding: 0 0;
}
.name-h1 {
  margin-top: 10px;
  text-decoration: none;
}
/* Float the list items side by side */
ul.topnav li {
  display: inline-block;
  float: right;
 }
#pic {
  float: left;
}
.logo {
  float: left;
}
.name {
  float: left;
}
/*      Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}




body {
	background-color: #E8E8E8;
}

.buttons {
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

.entrance {
	margin: 1%;
	font-size: 12px;
}
#footer {
  position: relative;
  top: 1100px;
	background-color: #E8E8E8;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 2%;
	color:#333A56;
	font-size: 18px;
}

#myCarousel {
	margin-bottom: 2%;
}

.topnav {
	margin-bottom: 2%;
}

.aboutHeading {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	text-align: center;
}

.info {
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.aboutSite {
	margin: 5% 10% 5% 10%;
	text-align: center;
}

.aboutTeam {
	margin: 5% 10% 5% 10%;
	text-align: center;
}

.register {
	text-align: center;
	margin: auto;
	margin-bottom: 15%;
}

.registerButton {
	width: 100%;
}

.person {
  float: left;
  width: 97%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: solid 2px #EAEAEA;
  font-family: 'Open Sans Condensed', sans-serif;
}

.person:hover,
.person:active{
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

.personName {
	font-size: 18px;
}

.personRole {
	font-size: 16px;
}

img {
	margin: auto;
}

footer {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.name-h1 {
	text-decoration: none;
}

@media screen and (max-width: 700px){
	.main-heading { font-size: 65px; }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  }

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  }
}
